.section--interview
	h2
		link()
	h3
		font-size $font
		serif()
		display block
		padding-left ($font-reading*3)
		+below($md)
			font-size 1.7rem
			padding-left 0
			// padding-left (($font-reading/1.5)*3)
			