[page-type=product]
	#post-captions
		.add-to-basket
			a
				display block
				width 100%
				margin-bottom 1em
				padding 0.6em
				border 1px solid
				color $primary
				background $secondary
				text-align center
	#post-sticky
		.add-to-basket
			display flex
			align-items center
			justify-content center
			a
				display block
				color $primary
				background $secondary
				padding 0.6em
				+above($md + 1)
					width 22rem
					border 1px solid
					text-align center
	