webfont("Sanzettica", "SanzetticaHeavyExpd")
webfont("ApercuRegular", "ApercuRegular")
webfont("ApercuBold", "ApercuBold")
webfont("GeorgiaRegular", "Georgia")
webfont("Garamond", "ITCGaramondStdLtCond")

$font = 1.8rem
$font-heading = 7rem
$font-lead = 4.2rem
$font-reading = 2.4rem

html
	font-size 9px

body
	font-size $font

heading()
	font-family "Sanzettica", sans-serif
	
serif()
	font-family Georgia, "Georgia", serif
	letter-spacing -0.01em
	&.condensed
		font-family Garamond

serif-condensed()
	font-family "Georgia", serif
	letter-spacing -0.01em

sans-serif()
	font-family "ApercuRegular", Helvetica, sans-serif
	line-height 1.25
	letter-spacing -0.01em
	p
		line-height 1.3
	&.text
		line-height 1
	strong
		font-family "ApercuBold", Helvetica, sans-serif

link()
	sans-serif()
	font-size 3rem
	padding-left ($font-reading*3)
	+below($md)
		font-size $font
		padding-left 0

.serif
	serif()

.sans-serif
	sans-serif()

.title, .heading, .lead, .bold
	heading()

.title, .heading
	font-size $font-heading
	+below($md)
		font-size 4rem

.text, .post-text
	font-size $font-reading
	sans-serif()
	+below($md)
		font-size ($font-reading/1.5)
	p
		text-indent 3em

.lead
	font-size $font-lead
	+below($md)
		font-size 2.2rem

.caption
	font-size 1.6rem

.tiny
	font-size 1.2rem

.upper
	text-transform uppercase

.lh-normal
	line-height 1
	p
		line-height 1

.ls-small
	letter-spacing -0.01em

.ls-narrow
	letter-spacing -0.03em